@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    margin: 0;
    padding:0;
    overflow:hidden;
    background-color:#272c35;
    height:100vh;
  }
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }